@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600&family=Plus+Jakarta+Sans:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Raleway:wght@300;400;500&family=Sulphur+Point:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Heebo;
}


nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 16px;
    padding: 30px;
    padding-right: 60px;
}
nav ul img{
    visibility: collapse;
}
a{

    text-decoration: none;
    font-weight: 500;
    color: #000;
}

.contact-text{
    color: #FF6464;
}

/* -----------------------Header Section----------------- */











/* -------------------Body Section-------------------------- */


.body-section .cards{
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    gap: 20px;
}
.body-section .cards h1{
    color: #21243D;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-section .cards .card{
    width: 681px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body-section .cards .card .year-dashboard{
    display: flex;
    gap: 20px;
}

.body-section .cards .card .year-dashboard .year{
    background-color: #FF7C7C;
    align-items: center;
    padding: 2px;
    width: 62px;
    height: 25px;
    text-align: center;
    border-radius: 16px;
    color: #fff;
}

.body-section .cards .card .card-text{
    font-size: 15px;
}





footer
{
    padding: 50px 0;
    margin: auto;
}

footer nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

footer nav .copyright
{
    font-size: 14px;
    font-weight: 400;
    padding-top: 25px;
}


footer nav ul li a img
{
    transition-duration: 0.3s;
    transform: scale(1);
    visibility: visible;
}

footer nav ul li a img:hover
{
    transform: scale(1.5);
    filter: contrast(5);
}


@media screen and (max-width:768px) {
    header nav ul{
        visibility: collapse;
        align-items: center;
        
    }
    header nav ul img{
        visibility: visible;
    }

    .body-section .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .body-section .cards .card{
        width: 270px;
        flex-shrink: 0;
    }
    
    .card-container{
        display: flex;
        flex-direction: column;
    }
}